# JUCE ignorar basura
Builds/*/x64/
Builds/*/Debug/
Builds/*/Release/
*.ncb
*.suo
*.user
*.sdf
*.opensdf
.vs/
*.ipch
/JuceLibraryCode/

# Xcode build output (macOS)
Builds/MacOSX/build/
Builds/MacOSX/*.xcodeproj/project.xcworkspace/
Builds/MacOSX/*.xcodeproj/xcuserdata/
.DS_Store
